* {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(20, 70, 20);
    margin: auto;
}

table{
    border: 3px solid darkred;
    padding: 50px 30px 30px 30px;
    border-spacing: 15px;
    background-color:rgb(145, 145, 145);
}

caption{
    padding: 10px;
    color:darkred;
    font-family: 'Arial Narrow Bold', sans-serif;

}
td{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
    width: 50px;
    height: 40PX;
    border: 1px solid darkred;
    padding: 10px;
    margin: 20px;
    text-align: center;
    background-color:rgb(230, 230, 230);
    cursor: pointer;
}
td:hover{
    color:black;
    background-color:yellow;
}